{\n  \"semi\": true,\n  \"trailingComma\": \"es5\",\n  \"singleQuote\": true,\n  \"printWidth\": 100,\n  \"tabWidth\": 2,\n  \"useTabs\": false,\n  \"endOfLine\": \"lf\",\n  \"arrowParens\": \"always\",\n  \"bracketSpacing\": true,\n  \"bracketSameLine\": false,\n  \"quoteProps\": \"as-needed\",\n  \"jsxSingleQuote\": false,\n  \"plugins\": [\n    \"prettier-plugin-tailwindcss\"\n  ],\n  \"tailwindConfig\": \"./tailwind.config.js\",\n  \"tailwindFunctions\": [\"clsx\", \"cn\", \"twMerge\"]\n}\n"